VITE_GRAPHQL_API_URL=https://basegeek.clintgeek.com/graphql
VITE_BASEGEEK_URL=https://basegeek.clintgeek.com
# Optional local dev override. Defaults to http://localhost:3000
# VITE_BASEGEEK_PROXY=http://localhost:3000
